<h1 style="text-align:center;"> How To Delete Your Shark Sports Betting Account </h1>

<p>
  From the menu, go to Settings inside the Shark Sports Betting app and tap Delete Your Account at the bottom of the screen.  Confirm that you would like to delete.  Once you delete your account, all of your data will be permanently removed.
</p>

